{% extends "layout.html" %}
{% block content %}

{#{% include "report_story.html" %}#}
{#{% include "report_criteria.html" %}#}




<center>
    <h1> Project: {{ title }}</h1>
    <a class='btn btn-default upload-us-button' href={{ url_for('upload_file', project_unique=project.id) }}>{{ 'Reupload stories' if titles|length > 0 else 'Upload stories' }}</a>
</center>
<br>

<div class="panel-group" id="accordion"> <!-- accordion 1 -->
   <div class="panel panel-primary">

        <div class="panel-heading"> <!-- panel-heading -->
            <h4 class="panel-title"> <!-- title 1 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
              Stories
            </a>
           </h4>
        </div>
		<!-- panel body -->
        <div id="accordionOne" class="panel-collapse collapse in">
          <div class="panel-body">
           {% include "report_story.html" %}

          </div>
        </div>
  </div>

   <div class="panel panel-primary">  <!-- accordion 2 -->

          <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 2 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
              Criteria
            </a>
          </h4>
          </div>
		 <!-- panel body -->
        <div id="accordionTwo" class="panel-collapse collapse">
          <div class="panel-body">
            {% include "report_criteria.html" %}
          </div>
        </div>

   </div>

    <div class="panel panel-primary">  <!-- accordion 3 -->

        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 3 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionThree">
              Titles
            </a>
          </h4>
        </div>

        <div id="accordionThree" class="panel-collapse collapse">
          <!-- panel body -->
          <div class="panel-body">
          {% include "report_title.html" %}
        </div>

     </div>

 </div>
{% endblock %}
