
<div class="container">
<center>
    <h1>Titles - {{ titles|length }}</h1>
</center>
<br>
<div class='error-blocks'>
  <div class='left-error-block'>
    <div class='error-block'>
      <div class='error-circle total-errors'>
        <div class='height-fix'></div>
        <div class='error-circle-content'>{{ title_errors|length }}</div>
      </div>
      <a href='?' class='error-text'>total issues</a>
    </div>
  </div>
  <div class='right-error-block'>
    <div class='error-block'>
      <div class='error-circle minor-errors'>
        <div class='height-fix'></div>
        <div class='error-circle-content'>{{ title_minor_errors|length }}</div>
      </div>
      <a href='?severity=minor' class='error-text'>minor issues</a>
      {% if title_minor_errors|length > 0 %}
        <form class="ignore_form" action="{{project.id}}/title_minor_issues" method=post>
          <input type=submit value="fix all" class="btn">
        </form>
      {% endif %}
    </div>
  </div>
</div>

{% include "title_report.html" %}

</div>
